      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email Address</th>
              <th>Phone</th>
              <th>Image</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in people">
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phone}}</td>
              <td><img ng-src="{{gravatar(item.email,80)}}" alt="{{item.name}}"/></td>
              <td>
                       <button class="btn btn-info" ng-click="edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                        <button class="btn btn-warning" ng-click="remove(item)"><i class="glyphicon glyphicon-remove"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr ng-form="editedPersonFom">
              <td><input type="text" name="name" placeholder="enter name" ng-model="editedPerson.name"/></td>
              <td><input type="email" name="email" placeholder="email address" ng-model="editedPerson.email"/></td>
              <td><input type="text" name="phone" placeholder="phone" ng-model="editedPerson.phone"/></td>
              <td><img ng-if="editedPersonForm.email && !editedPersonForm.email.$error.email" ng-src="{{gravatar(editedPerson.email)}}"/></td>
              <td><button class="btn btn-primary" ng-click="add(editedPerson,80)">Add</button></td>
            </tr>
          </tfoot>
        </table>
      </div>